@media (min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5)
  .border-top-1px
    &:before
      transform scaleY(0.7)
      -webkit-transform scaleY(0.7)
  .border-bottom-1px
    &:after
      transform scaleY(0.7)
      -webkit-transform scaleY(0.7)
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2)
  .border-top-1px
    &:before
      transform scaleY(0.5)
      -webkit-transform scaleY(0.5)
  .border-bottom-1px
    &:after
      transform scaleY(0.5)
      -webkit-transform scaleY(0.5)
@media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3)
  .border-top-1px
    &:before
      transform scaleY(0.34)
      -webkit-transform scaleY(0.34)
  .border-bottom-1px
    &:after
      transform scaleY(0.34)
      -webkit-transform scaleY(0.34)
.clear-fix
  &:after
    content ' '
    display block
    clear both
    height 0
    visibility hidden
    overflow hidden
